.gridContainer {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1.2fr;
    width: 90%;
}

.gridItem {
    height: 90vh;
    /*display: grid;
    grid-template-rows: 90px 67px 400px 30px;
    */
}

.submitDistributionButton {
    text-align-last: center;
    margin-block: 30px;
}


.noMap {
    background-color: #e7f2f5;
}

.noMapLabel {
    text-align: center;
    margin-block: 250px;
    font-weight: bold;
    font-size: larger;
}