.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    flex-flow: column;
    text-align: center;
    direction: rtl;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}